body,
html {
  height: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  margin: 0;
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/bckg-img.jpg");

  height: 100vh;
  width: 100vw;
  background-size: cover;

  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

#avatar {
  border: 0cap;
  display: block;
  margin: 0 auto;
  background-image: url("img/self-img.jpg");

  width: 40vw;
  height: 40vh;
  overflow: hidden;

  margin-bottom: 20px;
  background-position: top center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #ccafa5;
  padding-bottom: 50%;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#mission-section {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #bdc3cb;
}
.mission-img {
  max-width: 100%;
  width: auto;
  height: 250px;
  background-image: url("img/seattle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid black;
}

#skills-section {
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #bdc3cb;
}

.skills-header {
  text-align: center;
  color: black;
  padding: 1rem;
  position: relative;
}
.skills-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #746c70;
}
.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: black;
  cursor: pointer;
}

.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .img {
  transform: translateY(-50px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #e2ded0;
  transition: 0.5s;
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #e2ded0;
  transition: 0.5s;
}

.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #f0ead6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 50%;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
  transition: 0.5s;
}

.skill-title h3 {
  margin-top: 0.5rem;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}

#contact-section {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #bdc3cb;
}

#social-media {
  align-items: center;
}
.icon {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.icon:hover {
  opacity: 0.5;
}

#footer-section {
  text-align: center;
  background-color: #e2ded0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
